gazon1 <gazon1@users.noreply.github.com> <developer@singularity.app>
gazon1 <gazon1@users.noreply.github.com> <dev@singularity.local>
gazon1 <gazon1@users.noreply.github.com> <newbox2517@inbox.ru>
gazon1 <gazon1@users.noreply.github.com> <Drobin Max <newbox2517@inbox.ru>>
gazon1 <gazon1@users.noreply.github.com> <Mavis Agent <developer@singularity.app>>
gazon1 <gazon1@users.noreply.github.com> <Singularity Developer <developer@singularity.app>>
gazon1 <gazon1@users.noreply.github.com> <Singularity Developer <dev@singularity.local>>
